@charset "utf-8";
@font-face { font-family: california; src: url(../resouces/Callifornia\ Signature.ttf); } 
/* CSS Document */
*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(82, 95, 82);
    div#container{
        width: calc(1080px/3);height: calc(1920px/3);
        margin: 50px auto;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        div#sup{
            width: calc(1080px/3);height: calc(1920px*0.35/3);
            /* background-color: rgb(161, 161, 161); */
            div#img{
                width: 50%;
                position: relative;
                /* background-color: rgb(137, 77, 77); */
                margin: auto;
                top: 20px;
                img{
                    width: 100%;
                    border-radius: 50%;
                    box-shadow: 2px 5px 5px black;
                }
            }
        }
        div#sub{
            width: calc(1080px/3);height: calc(1920px*0.65/3);
            background-color: green;
            div#head{
                width: calc(1080px/3);height: 22%;
                /* background-color: rgba(251, 165, 83, 0.5); */
                display: flex;
                div#enjoy{
                    display: inline-block;
                    font-family: california, cursive;
                    font-size: 5em;
                    margin-left: 20px;
                    position: relative;
                    /* text-orientation:unset; */
                    transform: rotate(315deg) translate(0px, 15px);
                    /* transform: translate(0px, 20px); */
                }
                div#tk{
                    /* background-color: rosybrown; */
                    height: 70%;width: 200px;
                    display: inline;
                    font-size: 4em;
                    word-wrap: break-word;
                }
            }
            div#menu{
                width: 70%;height: 60%;
                margin: auto;
                /* background-color: rgba(154, 119, 86, 0.5); */
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                div.option{
                    width: 47%;height: 47%;
                    background-color: rgba(255, 255, 255,0.2);
                    border-radius: 20px;
                    img{
                        position: relative;
                        height: 70%;
                        top: 50%;left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                    }
                }
            }
            div#butao{
                width: 40%;height: 10%;
                background-color: white;
                margin: auto;
                border-radius: 20px;
                a{
                    position: relative;
                    margin: auto;
                    padding: 10px;
                    font-size: 1.9em;
                    font-weight: bolder;
                    color: green;
                    top: 10px;
                    text-decoration: none;
                }
            }
        }
    }
}